{% load static %}
<nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo font1" href="{% url 'home' %}">
             <img src="{% static 'images/favicon.ico' %}" alt="">
            ActingPriviledges
            <img src="{% static 'images/favicon.ico' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
{#                todo: fix nav buttton #}
{#                <li class="nav-item nav-panel">#}
{#                    <a class="nav-link" href="/"><i class="far fa-address-book"></i>Address Book</a>#}
{#                </li>#}
                <li class="nav-item nav-panel {% if nav == 'about' %}active{% endif %}">
                    <a class="about nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i>About</a>
                </li>
                <li class="nav-item nav-panel">
                    <a class="nav-link" id="abc" href="javascript:void(0);"><i class="fas fa-film"></i>Casting Calls</a>
                </li>
{#            todo: use dropdown for logout 'dropdown-toggle'#}
                {% if user.is_authenticated %}
                <li class="nav-item nav-panel {% if nav == 'profile' or nav == 'index' %}active{% endif %}">
                    <a class="nav-link" id="abc" href="{% if user.is_actor %}{% url 'actor_profile' user.username %}{% else %}{% url 'agent_profile' user.username %}{% endif %}"><i class="fas fa-user"></i>{{ user.username }}</a>
                </li>
                <li class="nav-item nav-panel">
                    <a class="nav-link" id="abc" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
                {% else %}
                <li class="nav-item nav-panel {% if nav == 'signup' or nav == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>Signup</a>
                </li>
                <li class="nav-item nav-panel {% if nav == 'login' %}active{% endif %}">
                    <a class="nav-link " href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a>
                </li>
                {% endif %}

{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>#}
{#                </li>#}
            </ul>
        </div>
    </nav>
<br>