{% extends 'base.html' %}
{% block title %}
    My Profile
{% endblock %}
{% block content %}
    <div class="container">
        {% if info.user == user %}
            <h1>My Agent Profile:</h1>
        {% else %}
            <h1>Profile of {% firstof info.name_of_agent info %}</h1>
        {% endif %}

        {% if info.user == user %}
            <a href="{% url 'create_job_opp' %}" class="btn btn-danger">CREATE JOB OPP</a>
            <br><br>
        {% endif %}

        <div class="card" >
            <div class="row no-gutters">
                <div class="card-body col-md-5 ml-1">
                    <h5 class="card-title">{{ info }}</h5>
                    <p class="card-text">User : {{ info.user.username }}</p>
                    <p class="card-text">Name of Agent/Agency/Director : {{ info.name_of_agent }}</p>
                    <p class="card-text">Created in : {{ info.created_in }}</p>
                    <p class="card-text">Website : <a href="{{ info.website }}">{{ info.website }}</a></p>
                    <p class="card-text">Social Media : {{ info.social_media }}</p>
                    <p class="card-text">From : {{ info.is_from }}</p>
                    {% if info.user == user %}
                        <a href="{% url 'edit_agent' %}" class="btn btn-primary">Update</a>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="col-md-4 card-image">
                    <img class="card-image" src="{{ info.picture.url }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

