{% extends 'base.html' %}
{% block title %}
My Profile
{% endblock %}
{% block content %}
<h1>My Agent Profile:</h1>

            <div class="card mb-3" style="max-width: 800px;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <p class="card-text">Name of Agent/Agency/Director : {{ info.name_of_agent }}</p>
                            <p class="card-text">Created in : {{ info.created_in }}</p>
                            <p class="card-text">Website : {{ info.website }}</p>
                            <p class="card-text">Social Media : {{ info.social_media }}</p>
                            <a href="{% url 'edit_agent' %}" class="btn btn-primary">Update</a>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>

    <a href="{% url 'create_job_opp' %}" class="btn btn-danger">CREATE JOB OPP</a>
{#todo: finish template#}
{% endblock %}

