{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load bootstrap4 %}

{% block title %}
    Profile
{% endblock %}



{% block js %}

    {{ formset.media }}

    <script>
        $('.previous').click(function () {
            var cur = $('.form-panel').index($('.form-panel.active'));
            if (cur != 0) {
                $('.form-panel').removeClass('active');
                $('.form-panel').eq(cur - 1).addClass('active');
            }
        });
        $('.next').click(function () {
            var cur = $('.form-panel').index($('.form-panel.active'));
            if (cur != $('.form-panel').length - 1) {
                $('.form-panel').removeClass('active');
                $('.form-panel').eq(cur + 1).addClass('active');
            }
        });</script>



{% endblock %}


{% block content %}
    <div style="margin: 10px 50px 50px">
        <h2>Edit your profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}

            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    <hr style="border:3px solid black">
                    {% bootstrap_form formset.empty_form layout='horizontal' %}
                </table>
            </div>


            <div class="form-panel active">{% bootstrap_form user_form %}</div>
            <div class="form-panel">{% bootstrap_form profile_form %}</div>
            <div class="form-panel">
                {% bootstrap_form physical_form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <br>
            <button class="btn btn-sm btn-secondary previous" type="button">Previous</button>
            <button class="btn btn-sm btn-secondary next" type="button">Next</button>
            <br>
            <br>

        </form>
    </div>
{% endblock %}
