<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        h1{ color: royalblue; }
    </style>
</head>
    <body>
        <h1>HEY {{ user.username }}</h1>
        <h1>You are almost there!</h1><br>
        <h1>Thank you so much for SIGNIN UP to our platform 😋</h1>
        <h1>ONE LAST STEP !</h1>
        <h2>Please click <a href="{{ link }}">here</a> to confirm your account</h2>
        <h2>And then you will just have to LOGIN to your account ;)</h2>
    </body>
</html>