{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Actor Dashboard
{% endblock %}

{% block content %}

    <h1><u>{{ user.first_name }}'s Dashboard</u></h1>

    <div class="container" style="margin-top:2em; ">
        <div class="row">
            <br>
            <h2>Jobs you applied for:</h2>
            <table class="table table-hover">

                <caption>
                    <div class="pagination mb-5">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                            <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                </caption>

                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Casting Call</th>
                    <th scope="col">Role Type</th>
                    <th scope="col">Date & Location</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in page_obj %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a class="btn btn-sm btn-secondary" href="{% url 'details_job_opp' participant.job_opp.id %}">{{ participant.job_opp.id }}</a></td>
                        <td>{{ participant.job_opp.project }}</td>
                        <td>{{ participant.job_opp.get_type_of_role_display }}</td>
                        <td>{{ participant.job_opp.location }}, {{ participant.job_opp.date_of_job | naturalday }}</td>
                        <td>{{ participant.get_status_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <div class=><h2>Latest Jobs :</h2></div>
            <div class="card-group">
                {% for job in jobs %}
                    <div class="card text-center m-2">
                        <div class="card-header">
                            New Casting/Auditions
                            <p>
                                {% if job.is_paid %}
                                    <span class="badge badge-danger">PAID</span>
                                {% else %}
                                    <span class="badge badge-warning">NOT PAID</span>
                                {% endif %}
                                {% if job.from_home %}
                                    <span class="badge badge-info">From Home</span>
                                {% endif %}
                            </p>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ job.project }}</h5>
                            <p class="card-text">With supporting dtext below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"> Age between : {{ job.get_age_wanted_display }}</p>
                            <p class="card-text"> Role type : {{ job.get_type_of_role_display }}</p>
                            <p class="card-text"> Date and Location : <strong>{{ job.location }}</strong>
                                - {{ job.date_of_job|naturalday }}</p>
                            <a href="{% url 'details_job_opp' job.id %}" class="btn btn-primary">More details</a>

                        </div>
                        <div class="card-footer text-muted">
                            {% if job.initiator == user.profile %}
                                <a href="{% url 'update_job_opp' job.id %}" class="btn-sm btn-primary">Update</a>
                            {% endif %}
                            Posted
                            by {% firstof job.initiator.name_of_agent job.initiator %}, {{ job.posted_at | naturalday }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>








{% endblock %}