{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Job nº{{ job.id }}
{% endblock %}

{% block content %}


    <div class="container1">
        <h1>Detail of the job opp :</h1>
        <div class="card text-center">

            <div class="card-header">
                {% if job.is_paid %}
                    <span class="badge badge-danger">THE JOB IS PAID</span>
                {% endif %}
                New Casting/Auditions
                {% if job.from_home %}
                    <span class="badge badge-info">THE CASTING/AUDITION CAN BE FROM HOME</span>
                {% endif %}
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ job.project|upper }}</h5>
                <p class="card-text">
{#                    {% if job.project.description == None %}#}
{#                    There is No description for this Job...#}
{#                {% else %}#}
{#                    {{ job.project.description }}#}
{#                {% endif %} #}
            {% firstof job.project.description 'There is No description for this Job...'  %}</p>
                <p class="card-text"> Role Type: {{ job.get_type_of_role_display }}</p>
                <p class="card-text"> Gender: {{ job.get_gender_display }}</p>
                <p class="card-text"> Age between: {{ job.get_age_wanted_display }}</p>
                <p class="card-text"> Date and Location: <strong>{{ job.location }}</strong> - {{ job.date_of_job|naturalday|upper }}</p>
                {% if request.user.profile not in job.actors and request.user.is_actor %}
                <a href="{% url 'apply-job' job.id %}" class="btn btn-success">Apply For This Role</a>
                {% elif request.user.is_actor == False %}
                    <h4><span class="badge badge-secondary">Agent</span></h4>
                    {% else %}
                    <h3><span class="badge badge-success">Already Applied</span></h3>
                {% endif %}
            <small>Job ID : {{ job.id }} </small>
            </div>
            <div class="card-footer text-muted">
                {% if job.initiator == user.profile %}
                    <a href="{% url 'update_job_opp' job.id %}" class="btn-sm btn-primary">Update</a>
                {% endif %}
                Posted by {{ job.initiator }}, {{ job.posted_at | naturalday }}
            </div>
        </div>

        <br><br>

    {% if job.initiator == user.profile %}
        <h2>List of Applicant:</h2>
            <table class="table table-hover">
                <caption>
                    <div class="pagination mb-5">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                            <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                </caption>

                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">actor_ID</th>
                    <th scope="col">Pic.</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Relevance</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in page_obj %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a class="btn btn-secondary btn-sm" href="{% url 'actor_profile' participant.applicant.user.username %}">{{ participant.applicant.id }}</a></td>
                    <td><img src="{{ participant.applicant.picture.url }}" style="width: 50px;!important height=100px;!important " alt=""></td>
                        <td>{{ participant.applicant }}</td>
                        <td>{{ participant.applicant.user.email }}</td>
                        <td>{{ participant.applicant.phone }}</td>
                        <td>
                        {% if participant.status == 'W' %}
                            <a href="{% url 'is-relevant' participant.id 1 %}" class="btn btn-success">Relevant</a>
                            <a href="{% url 'is-relevant' participant.id 0 %}" class="btn btn-danger">Not Relevant</a>
                        {% else %}
                            {{ participant.get_status_display }}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endif %}

</div>
{% endblock %}