{% extends 'base.html' %}
{% load bootstrap4 %}
{% load humanize %}
{% block content %}
    <h1>Casting Calllllz {% if not user.is_actor and user.username %}
        <a href="{% url 'create_job_opp' %}" class="btn btn-danger">CREATE JOB OPP</a>
    {% endif %}</h1>

    <br>
   <div class="container">
       <form method="get">
{#        {% bootstrap_form filter.form layout='horizontal' size='small' field_class='form-field' %}#}
           <div class="row">
           {% for field in filter.form %}
            <div class="col text-center">
            {% bootstrap_field field size='small' %}
            </div>
            {% endfor %}
               <div class="m-auto">
               <button type="submit" class="btn btn-sm btn-primary mt-3">Search</button>
               </div>
           </div>

       </form>


   <div class="row">
    {% for job in filter.qs %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="card text-center m-2">
            <div class="card-header">
                New Casting/Auditions
                <p>
                {% if job.is_paid %}
                    <span class="badge badge-danger">PAID</span>
                {% else %}
                    <span class="badge badge-warning">NOT PAID</span>
                {% endif %}
                {% if job.from_home %}
                    <span class="badge badge-info">From Home</span>
                {% endif %}
                </p>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ job.project}}</h5>
                <p class="card-text">{{ job.project.get_type_of_project_display }}</p>
                <p class="card-text"> Looking For : {{ job.get_gender_display }}</p>
                <p class="card-text"> Age between : {{ job.get_age_wanted_display }}</p>
                <p class="card-text"> Role type : {{ job.get_type_of_role_display }}</p>
                <p class="card-text"> Date and Location : <strong>{{ job.location }}</strong> - {{ job.date_of_job|naturalday }}</p>
                <a href="{%  url 'details_job_opp' job.id %}" class="btn btn-primary">More details</a>

            </div>
            <div class="card-footer text-muted">
                {% if job.initiator == user.profile %}
                <a href="{%  url 'update_job_opp' job.id %}" class="btn-sm btn-primary">Update</a>
                {% endif  %}
                Posted by <a href="{% url 'agent_profile' job.initiator.user.username %}">{% firstof job.initiator.name_of_agent job.initiator %}</a>, {{ job.posted_at | naturalday }}
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
   </div>
{% endblock %}