{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Update JobOpp
{% endblock %}

{% block js %}
    <script>
        $('.previous').click(function () {
            var cur = $('.form-panel').index($('.form-panel.active'));
            if (cur != 0) {
                $('.form-panel').removeClass('active');
                $('.form-panel').eq(cur - 1).addClass('active');
            }
        });
        $('.next').click(function () {
            var cur = $('.form-panel').index($('.form-panel.active'));
            if (cur != $('.form-panel').length - 1) {
                $('.form-panel').removeClass('active');
                $('.form-panel').eq(cur + 1).addClass('active');
            }
        });</script>
{% endblock %}

{% block content %}

    <div style="margin: 10px 50px 50px">
    <h2><u>Update Job Opportunity</u></h2>

        <form method="post">
            {% csrf_token %}
            <div class="form-panel active">{% bootstrap_form form %}</div>

            <div class="form-panel">
                <br>
                <h3>More details about your project :</h3>
                {% bootstrap_form proj_form %}
            <input type="submit" value="Update" class="btn btn-danger">
            </div>
            <br>
            <button class="btn btn-sm btn-secondary previous" type="button">Previous</button>
            <button class="btn btn-sm btn-secondary next" type="button">Next</button>
            <br>
            <br>

        </form>
    </div>

{% endblock %}